@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  padding: 0;
  margin: 0;
}

Header{
  border-bottom: 1px solid #000;
  padding: 10px 0;
  display: flex;
  align-items: center;
}

a{
  text-decoration: none;
}

a:hover{
  color: blue;
}

.product-list{
  padding: 20px 0;
}

Footer{
  background: #8a8585;
}